/*
Project Name: Relaxr Landing Page
Author: Your Name
Front End Developer @GA in NYC
*/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
	font-family: 'Open Sans', sans-serif;
}

div#wrapper {
	width: 100%;
	margin: 0px auto;
}

div.header {
	height:550px;
	background: url(../images/header_bg.jpg) center center no-repeat;
	background-size: cover;
	padding: 10px 50px;
}

div.header p {
	margin-top: 50px;
}

.center {
	text-align:center;
}

h1 {
	color:white;
	font-weight:Extra bold;
	font-size:24px;
	margin-top: 20px;
}

div.header p.piece {
	color: white;
	font-weight: Semibold;
	font-size:24px;
	text-align: center;
	margin-top: 5px;
}

.now {
	color: #033048;
	font-weight: bolder;
	font-size:14px;
	padding: 5px 25px;
	border-radius: 5px;
	background-color: yellow;
}

div.benefits {
	background-color: #f0efef;
	padding: 30px;
	text-align: center;
}
h2 {
	color: #033048;
	font-size: 20px;
	font-weight: Semibold;
}
p {
	color: #606161;
	font-size: 13px;
	font-weight: light;
}

ul {
	color: #606161;
	font-size: 13px;
	font-weight: light;
}

div.testi {
	height:220px;
	background: url(../images/testimonial_bg.jpg);
	background-size: contain;
	padding: 10px 50px;

}
.center {
	text-align:center;
	}

div.testi p.testimonial {
	color: white;
	font-size: 18px;
	font-weight: Light;
	font-style: Italic;
	padding: 30px 30px;
}

div.testi span.author { 
	color: white;
	font-style: normal;
	font-weight: Semibold;
	font-size: 18px;
}

div.yellowbox {
	background-color: #f9e42e;
	padding:30px;
}

div.yellowbox span.bluebox {
	color: white;
	font-weight: Extra bold;
	font-size:24px;
	padding: 5px 5px;
	border-radius: 5px;
	background-size: contain;
	background-color: #033048;
}
div.blackbackground {
	background-color: #121212;
	height: 200px;
	padding: 20px;
}
.center {
	text-align:center;
}

div.blackbackground p {
	color:#f9e42e;
	font-size:48px;
	font-weight:extra bold;
}

div.blackbackground span.footer {
	color: white;
	font-size: 18px;
	font-weight: semibold;
}
.social {
	/*float:left;*/
	margin: 0 auto;
}

.space-right {
	padding-right: 1rem;
}